.title {
  font-weight: bold;
}
.subtitle {
  font-weight: normal;
}

.cart_action {
  margin: auto 5px;
}
.cart_item {
  border-bottom: 1px solid gray;
  padding: 10px;
}
.cart-product .mat-card-image:first-child {
  margin-top: 0;
}
.cart-product{
  overflow: hidden;
  margin-right: 15px;;                                                                                                                                                                                                                                                                                                 
}
.proceed-to-buy{
  margin: 15px;
}